{% extends "layout/app.html.twig" %}

{% block title %}{{ parent() }} - {{ profile.name }} (@{{ profile.username}}){% endblock %}

{% block center_content %}
    <section id="view" class="profile">
        <div class="card bg-light">
            <div id="banner">
            </div>
            <img id="pic" src="{{ profile.gravatar }}" alt="profile-pic" />
            <div class="pt-3 px-3" id="info">
                <h4 id="name" class="m-0">{{ profile.name }}</h4>
                <span id="username" class="text-muted"><small>@{{ profile.username }}</small></span>
                <div id="stats" class="d-flex mt-2">
                    <span><strong>0</strong> followers</span>
                    <span class="ps-1"><strong>0</strong> following</span>
                    <span class="ps-1"><strong>0</strong> posts</span>
                </div>
                <div id="description" class="mt-4">
                    <p><em>Profile page is currently disabled. Please come back soon!</em></p>
                </div>
            </div>
            <nav class="nav nav-pills nav-fill sticky-top">
                <a class="nav-link disabled" href="#">Posts</a>
                <a class="nav-link disabled" href="#">Replies</a>
                <a class="nav-link disabled" href="#">Likes</a>
            </nav>
        </div>
        <div id="profile-feed">
        </div>
        <button 
            id="post-button"
            hx-get="/post/control"
            hx-target="#new-post"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#new-post"
            class="btn btn-sm btn-primary d-block d-md-none">
            <i class="bi bi-pencil-square"></i>
    </section>
{% endblock %}
