{% extends "layout/app.html.twig" %}

{% block title %}{{ parent() }} - {{ profile.name }} (@{{ profile.username}}){% endblock %}

{% block center_content %}
    <section id="view" class="profile">
        <div class="card bg-light">
            <div id="banner">
            </div>
            <img id="pic" src="{{ profile.gravatar }}" alt="profile-pic" />
            <div class="pt-3 px-3" id="info">
                {% if has_edit %}
                <button class="btn btn-primary btn-sm float-end"
                    hx-get="/profile/{{ profile.username }}/edit"
                    hx-target="#new-post"
                    hx-trigger="click"
                    data-bs-toggle="modal"
                    data-bs-target="#new-post">Edit</button>
                {% endif %}
                <h4 id="name" class="m-0">{{ profile.name }}</h4>
                <span id="username" class="text-muted"><small>@{{ profile.username }}</small></span>
                <div id="stats" class="d-flex mt-2">
                    <span><strong>0</strong> followers</span>
                    <span class="ps-1"><strong>0</strong> following</span>
                    <span class="ps-1"><strong>{{ post_count }}</strong> posts</span>
                </div>
                {% if profile.description %}
                <div id="description" class="mt-4">
                    <p>{{ profile.description }}</p>
                </div>
                {% endif %}
            </div>
            <nav id="feed-nav" class="nav nav-pills nav-fill sticky-top">
                <btn hx-on::after-request="toggleProfileNav(event)" class="btn bg-light nav-link text-dark posts active" title="View posts" hx-get="/profile/{{ profile.username }}/posts/load" hx-target="#profile-feed" hx-swap="innerHTML"><i class="bi bi-pencil-square me-2"></i> Posts</btn>
                <btn hx-on::after-request="toggleProfileNav(event)" class="btn bg-light nav-link replies text-dark" title="View replies" hx-get="/profile/{{ profile.username }}/replies/load" hx-target="#profile-feed" hx-swap="innerHTML"><i class="bi bi-chat-left me-2"></i> Replies</btn>
                <btn hx-on::after-request="toggleProfileNav(event)" class="btn bg-light nav-link likes text-dark" title="View likes" hx-get="/profile/{{ profile.username }}/likes/load" hx-target="#profile-feed" hx-swap="innerHTML"><i class="bi bi-heart me-2"></i> Likes</btn>
            </nav>
        </div>
        <div id="profile-feed" class="w-100" hx-get="/profile/{{ profile.username }}/posts/load" hx-trigger="load" hx-swap="innerHTML">
        </div>
        <button 
            id="post-button"
            hx-get="/post/control"
            hx-target="#new-post"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#new-post"
            class="btn btn-sm btn-primary d-block d-md-none">
            <i class="bi bi-pencil-square"></i>
    </section>
{% endblock %}
