{% extends "layout/app.html.twig" %}

{% block title %}{{ parent() }} - Settings{% endblock %}

{% block center_content %}
    <section id="view" class="settings">
        <div class="card bg-light">
            <div class="card-body">
                <div id="user" class="mt-3 d-flex flex-column justify-content-center align-items-center">
                    <img id="pic" src="{{ user.gravatar }}" alt="profile-pic" />
                    <h4 id="name" class="m-0 mt-2">{{ user.first_name }} {{ user.surname }}</h4>
                    <span id="username" class="text-muted">@{{ user.username }}</span>
                </div>
                <hr>
                <nav class="nav flex-column">
                    <a class="nav-link disabled" href="#"><i class="bi bi-person me-2"></i> Account</a>
                    <a class="nav-link disabled" href="#"><i class="bi bi-brush me-2"></i> Appearance</a>
                    <a class="nav-link disabled" href="#"><i class="bi bi-translate me-2"></i> Language</a>
                    <a class="nav-link disabled" href="#"><i class="bi bi-shield-check me-2"></i> Security</a>
                    <a class="nav-link" href="/sign-out"><i class="bi bi-box-arrow-in-left me-2"></i> Sign out</a>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
