<div id="content-modal" class="modal-dialog modal-dialog-centered">
    <form method="POST" class="w-100">
        {{ csrf()|raw }}
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button 
                    type="button" 
                    hx-post="{% if post %}/post/{{ post.uuid }}/reply{% else %}/post/create{% endif %}"
                    hx-trigger="click"
                    hx-swap="afterbegin"
                    hx-target="#view"
                    class="btn btn-sm btn-primary ms-auto" 
                    data-bs-dismiss="modal">Post</button>
            </div>
            <div class="modal-body">
                {% if post %}
                    <div class="post d-flex quote-reply p-2">
                        <img class="avatar" src="{{ post.gravatar }}" alt="avatar" />
                        <div class="d-flex flex-column flex-grow-1 px-2 w-100">
                            <div class="top truncate w-100" hx-boost="true" hx-target="#view" hx-select="#view" hx-swap="outerHTML" >
                                <span class="name truncate"><a class="truncate" href="/profile/{{ post.username }}" title="View profile">{{ post.name }}</a></span>
                                <span class="username truncate ms-1"><a class="truncate text-muted" href="/profile/{{ post.username }}" title="View profile">@{{ post.username }}</a></span>
                                <span class="px-1">·</span>
                                <span class="ago text-muted">{{ post.ago }}</span>
                            </div>
                            {% if post.image %}
                            <div class="mt-3">
                                {% if post.url %}<a href="{{ post.url }}" target="_blank" title="View link">{% endif %}
                                <img loading="lazy" class="image" src="{{ post.image }}" alt="article" />
                                {% if post.url %}</a>{% endif %}
                            </div>
                            {% endif %}
                            <p class="content word-break p-2">{{ post.content|linkify|raw }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="d-flex">
                    <img id="avatar" class="me-3" src="{{ user.gravatar }}" alt="avatar" />
                    <textarea class="form-control" placeholder="What's up?" name="content" id="content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 d-flex justify-content-start">
                    <i class="bi bi-image-fill me-3"></i>
                    <i class="bi bi-film me-3"></i>
                    <i class="bi bi-filetype-gif me-3"></i>
                    <i class="bi bi-emoji-smile"></i>
                </div>
            </div>
        </div>
    </form>
</div>
