<div class="post d-flex flex-column">
    <div class="pointer d-flex"
        title="View post"
        hx-get="/post/{{ post.uuid }}"
        hx-target="#view"
        hx-select="#view"
        hx-sync="this:abort"
        hx-swap="outerHTML">
        <img class="avatar pointer" 
            title="View profile"
            loading="lazy"
            hx-get="/profile/{{ post.username }}" 
            hx-target="#view" 
            hx-select="#view" 
            hx-swap="outerHTML" 
            hx-push-url="true"
            src="{{ post.gravatar }}" 
            alt="avatar" 
            onerror = "this.src = '/img/profile.jpg';" />
        <div class="d-flex flex-column flex-grow-1 px-2 w-100">
            <div class="top d-flex" hx-boost="true">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <span class="name"><a href="/profile/{{ post.username }}" title="View profile">{{ post.name }}</a></span>
                        <span class="px-1">·</span>
                        <span class="ago text-muted">{{ post.ago }}</span>
                    </div>
                    <span class="username"><a class="text-muted" href="/profile/{{ post.username }}" title="View profile">@{{ post.username }}</a></span>
                </div>
            </div>
            {% if post.image %}
            <div class="mt-3">
                {% if post.url %}<a href="{{ post.url }}" target="_blank" title="View link">{% endif %}
                <img loading="lazy" class="image" src="{{ post.image }}" alt="article" />
                {% if post.url %}</a>{% endif %}
            </div>
            {% elseif post.is_bot and post.url %}
                <p class="m-0 p-2"><a href="{{ post.url }}" target="_blank" title="View link">Link</a></p>
            {% endif %}
            <p class="content word-break p-2">{{ post.content|linkify|raw }}</p>
        </div>
    </div>
    <div class="bottom w-100 d-flex justify-content-around align-items-center">
        <div class="action"
            title="Reply"
            hx-get="/post/{{ post.uuid }}/control"
            hx-target="#modal"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal"><i class="bi bi-chat-left"></i> <small class="comment-count ps-1">{{ post.comment_count }}</small></div>
        <div class="action d-flex align-items-center" 
            title="Like"
            hx-get="/post/{{ post.uuid }}/like" 
            hx-trigger="click" 
            hx-swap="outerHTML">
            <i class="like bi bi-heart{% if post.liked %}-fill{% endif %} {% if post.liked %}active{% endif %}"></i> <small class="like-count ps-1">{{ post.like_count }}</small>
        </div>
        <div class="dropdown action">
            <button class="btn" title="Options" type="button" id="options-menu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="options-menu">
                <li><span class="dropdown-item" onClick="copyToClipboard('{{ config('app.url') }}/post/{{ post.uuid }}')">Copy post link</span></li>
            </ul>
        </div>
    </div>
</div>
