<div class="post d-flex">
    <img class="avatar" 
        hx-get="/profile/{{ post.username }}" 
        hx-target="#view" 
        hx-select="#view" 
        hx-swap="outerHTML" 
        hx-push-url="true"
        src="{{ post.gravatar }}" 
        alt="avatar" />
    <div class="d-flex flex-column flex-grow-1 px-2">
        <div class="top" hx-boost="true" hx-target="#view" hx-select="#view" hx-swap="outerHTML" >
            <span class="name"><a href="/profile/{{ post.username }}" title="View profile">{{ post.name }}</a></span>
            <span class="username ms-1"><a class="text-muted" href="/profile/{{ post.username }}" title="View profile">@{{ post.username }}</a></span>
            <span class="px-1">·</span>
            <span class="ago text-muted">{{ post.ago }}</span>
        </div>
        {% if post.image %}
        <div class="mt-3">
        {% if post.url %}<a href="{{ post.url }}" target="_blank" title="View article">{% endif %}
            <img loading="lazy" class="image" src="{{ post.image }}" alt="article" />
        {% if post.url %}</a>{% endif %}
        </div>
        {% endif %}
        <p class="content p-2">{{ post.content }}</p>
        <div class="bottom w-100 d-flex justify-content-around">
            <div class="action"
                title="Reply"
                hx-get="/post/control/{{ post.uuid }}"
                hx-target="#new-post"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#new-post"><i class="bi bi-reply"></i></div>
            <div class="action" 
                title="Comments"
                hx-get="/post/{{ post.uuid }}"
                hx-target="#view"
                hx-select="#view"
                hx-swap="outerHTML"><i class="bi bi-chat-left"></i> <small class="comment-count ps-1">{{ post.comment_count }}</small></div>
            <div class="action d-flex align-items-center" 
                title="Like"
                hx-get="/post/{{ post.uuid }}/like" 
                hx-trigger="click" 
                hx-swap="outerHTML">
                <i class="like bi bi-heart{% if post.liked %}-fill{% endif %} {% if post.liked %}active{% endif %}"></i> <small class="like-count ps-1">{{ post.like_count }}</small>
            </div>
            <div class="action" title="Options"><i class="bi bi-three-dots"></i></div>
        </div>
    </div>
</div>
