<div class="post d-flex flex-column">
    {% include "post/common.html.twig" %}
    <div class="bottom w-100 d-flex justify-content-around align-items-center">
        <div class="action"
            title="Reply"
            hx-get="/post/{{ post.uuid }}/control"
            hx-target="#modal"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modal"><i class="bi bi-chat-left"></i> <small class="comment-count ps-1">{{ post.comment_count }}</small></div>
        <div class="action d-flex align-items-center" 
            title="Like"
            hx-get="/post/{{ post.uuid }}/like" 
            hx-trigger="click" 
            hx-swap="outerHTML">
            <i class="like bi bi-heart{% if post.liked %}-fill{% endif %} {% if post.liked %}active{% endif %}"></i> <small class="like-count ps-1">{{ post.like_count }}</small>
        </div>
        <div class="dropdown action">
            <button class="btn" title="Options" type="button" id="options-menu" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="options-menu">
                <li><span class="dropdown-item" onClick="copyToClipboard('{{ config('app.url') }}/post/{{ post.uuid }}')">Copy post link</span></li>
            </ul>
        </div>
    </div>
</div>
