<div class="post d-flex">
    <img class="avatar" src="{{ post.gravatar }}" alt="avatar" />
    <div class="d-flex flex-column flex-grow-1 px-2">
        <div class="top">
            <span class="name">{{ post.name }}</span>
            <span class="username text-muted ms-1">@{{ post.username }}</span>
            <span class="px-1">·</span>
            <span class="ago text-muted" hx-get="/post/{{ post.uuid }}/ping" hx-trigger="click" hx-swap="textContent">{{ post.ago }}</span>
        </div>
        {% if post.image %}
        <div class="mt-3">
        {% if post.url %}<a href="{{ post.url }}" target="_blank" title="View article">{% endif %}
            <img loading="lazy" class="image" src="{{ post.image }}" alt="article" />
        {% if post.url %}</a>{% endif %}
        </div>
        {% endif %}
        <p class="content p-2">{{ post.content }}</p>
        <div class="bottom w-100 d-flex justify-content-around">
            <div class="action"><i class="bi bi-chat-left"></i></div>
            <div class="action d-flex align-items-center" hx-get="/post/{{ post.uuid }}/like" hx-trigger="click" hx-swap="outerHTML">
                <i class="like bi bi-heart{% if post.liked %}-fill{% endif %} {% if post.liked %}active{% endif %}"></i> <small class="like-count ps-1">{{ post.like_count }}</small>
            </div>
            <div class="action"><i class="bi bi-three-dots"></i></div>
        </div>
    </div>
</div>
