{% extends "layout/base.html.twig" %}

{% block title %}{{ parent() }} - Setup{% endblock %}

{% block content %}
    <section id="setup" class="container d-flex justify-content-center align-items-center mt-5">
        <form class="bg-light rounded shadow p-4" method="POST" hx-swap="outerHTML scroll:top" hx-target="#setup" hx-select="#setup">
            {{ csrf()|raw }}
            <h1>ECHO Setup</h1>
            <p>Almost there—just a few settings to configure.</p>
            {% include "components/flash.html.twig" %}
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="config-saved" {% if config_exists %}checked=""{% endif %} disabled readonly>
                    <label class="form-check-label" for="config-saved">Config saved</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="db-exists" {% if db_exists %}checked=""{% endif %} disabled readonly>
                    <label class="form-check-label" for="db-exists">Database exists</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="db-connected" {% if db_connected %}checked=""{% endif %} disabled readonly>
                    <label class="form-check-label" for="db-connected">Database connected</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="db-migration" {% if migration_complete %}checked=""{% endif %} disabled readonly>
                    <label class="form-check-label" for="db-migration">Migration complete</label>
                </div>
            </div>
            <hr>
            <h5 class="text-muted mb-3"><u>Application</u></h5>
            <div class="row mb-3">
                <label for="app-name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="input" value="{{ app.name }}" class="form-control {% if validation_errors.app_name is defined %}is-invalid{% endif %}" id="app-name" name="app_name">
                    {% include 'components/validation.html.twig' with {'validate': 'app_name'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="app-url" class="col-sm-4 col-form-label">URL</label>
                <div class="col-sm-8">
                    <input type="url" value="{{ app.url }}" class="form-control {% if validation_errors.app_url is defined %}is-invalid{% endif %}" id="app-url" name="app_url">
                    {% include 'components/validation.html.twig' with {'validate': 'app_url'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="app-debug" class="col-sm-4 col-form-label">Debug</label>
                <div class="col-sm-8">
                    <select class="form-select" id="app-debug" name="app_debug">
                        <option value="false"{% if not app.debug %}selected{% endif %}>Disabled</option>
                        <option value="true" {% if app.debug %}selected{% endif %}>Enabled</option>
                    </select>
                    {% include 'components/validation.html.twig' with {'validate': 'app_debug'} %}
                </div>
            </div>
            <h5 class="text-muted mb-3"><u>Database</u></h5>
            <div class="row mb-3">
                <label for="db-driver" class="col-sm-4 col-form-label">Driver</label>
                <div class="col-sm-8">
                    <select class="form-select" id="app-debug" name="db_driver">
                        <option value="mysql"{% if db.driver == 'mysql' %}selected{% endif %}>MySQL</option>
                        <option value="mariadb"{% if db.driver == 'mariadb' %}selected{% endif %}>MariaDB</option>
                    </select>
                    {% include 'components/validation.html.twig' with {'validate': 'db_driver'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="input" value="{{ db.name }}" class="form-control {% if validation_errors.db_name is defined %}is-invalid{% endif %}" id="db-name" name="db_name">
                    {% include 'components/validation.html.twig' with {'validate': 'db_name'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-username" class="col-sm-4 col-form-label">Username</label>
                <div class="col-sm-8">
                    <input type="input" value="{{ db.username }}" class="form-control {% if validation_errors.db_username is defined %}is-invalid{% endif %}" id="db-username" name="db_username">
                    {% include 'components/validation.html.twig' with {'validate': 'db_username'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" value="{{ db.password }}" class="form-control {% if validation_errors.db_password is defined %}is-invalid{% endif %}" id="db-password" name="db_password">
                    {% include 'components/validation.html.twig' with {'validate': 'db_password'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-host" class="col-sm-4 col-form-label">Host</label>
                <div class="col-sm-8">
                    <input type="input" value="{{ db.host }}" class="form-control {% if validation_errors.db_host is defined %}is-invalid{% endif %}" id="db-host" name="db_host">
                    {% include 'components/validation.html.twig' with {'validate': 'db_host'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-port" class="col-sm-4 col-form-label">Port</label>
                <div class="col-sm-8">
                    <input type="number" value="{{ db.port }}" class="form-control {% if validation_errors.db_port is defined %}is-invalid{% endif %}" id="db-port" name="db_port">
                    {% include 'components/validation.html.twig' with {'validate': 'db_port'} %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="db-charset" class="col-sm-4 col-form-label">Charset</label>
                <div class="col-sm-8">
                    <input type="input" value="{{ db.charset }}" class="form-control {% if validation_errors.db_charset is defined %}is-invalid{% endif %}" id="db-charset" name="db_charset">
                    {% include 'components/validation.html.twig' with {'validate': 'db_charset'} %}
                </div>
            </div>
            <div class="d-flex mt-4 justify-content-center">
                <button type="button" hx-post="{{ uri('setup.config') }}" class="btn btn-success">Save config</button>
                {% if config_exists %}
                    {% if not db_exists %}
                        <button type="button" hx-post="{{ uri('setup.create-db') }}" class="btn btn-primary ms-2">Create database</button>
                    {% else %}
                        <button type="button" hx-post="{{ uri('setup.migrate-db') }}" class="btn btn-primary ms-2">Migrate database</button>
                        <button type="button" hx-post="{{ uri('setup.drop-db') }}" class="btn btn-danger ms-2">Destroy database</button>
                    {% endif %}
                {% endif %}
            </div>
        </form>
    </section>
{% endblock %}
